@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
    min-height:100vh;
    background-image: url("./background7.jpg");
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 2px !important;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #004777;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: #c6ccdb;
  }